<app-bread-crumbs [breadcrumbs]="breadcrumbs"></app-bread-crumbs>
<div class="ucoming-events section-padding before-after">
  <div class="container">
    <ul class="schedule-menu list-inline row">
      <li class="col-md-6">
        <a href="#">Date</a>
        <div class="dropdown category-dropdown">
          <a data-toggle="dropdown" href="#">
            <span class="change-text">(Feb, 2018)</span>
            <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu category-change">
            <li><a routerLink="#">(jun, 2018)</a></li>
            <li><a routerLink="#">(jul, 2018)</a></li>
            <li><a routerLink="#">(aug, 2018)</a></li>
          </ul>
        </div>
      </li>
      <li class="col-md-3 no-padding">
        <a href="#">Events Title</a></li>
      <li class="col-md-3 no-padding">
        <a href="#">Address</a></li>
    </ul>
    <ul>
      <li *ngFor="let event of model.items" class="festival-info row">
        <div class="col-md-6">
          <div class="festival-image">
            <div class="image-overlay"></div>
            <img class="img-fluid"
                 [src]="event.image" alt="Image">
            <div class="time">
              <h1>
                {{ event.date.getDate() }}
                <span>{{ event.date.toDateString().split(' ')[1] | uppercase }}</span>
              </h1>
            </div>
          </div>
          <div class="events-title">
            <h2>
              <a [routerLink]="['/events', event.slug]">{{ event.name }}</a>
            </h2>
            <h5>{{ event.date.toDateString() }}, {{ event.time }}</h5>
          </div>
        </div>
        <div class="col-md-3 no-padding">
          <div class="address">
            <!--<h5>123 Main Street, California, CA 10234, USA</h5>-->
            <h5>{{ event.venue?.street }} {{ event.venue?.state }} {{ event.venue?.postalCode }} {{ event.venue?.country?.name }}</h5>
          </div>
        </div>
        <div class="col-md-3 no-padding">
          <div class="button">
            <a routerLink="#"
               class="btn btn-primary">Get a Ticket
              <img src="#" alt="arrow right">
            </a>
          </div>
        </div>
      </li>
    </ul>

    <app-pagination
      [pagination]="model.pagination"
      [componentURL]="componentURL"></app-pagination>
  </div>
</div>


