<div class="container">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit(form)" class="col-12 col-sm-6">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        [(ngModel)]="form.email"
        type="email"
        name="email"
        id="email"
        class="form-control">
    </div>


    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        [(ngModel)]="form.password"
        type="password"
        name="password"
        id="password"
        class="form-control">
    </div>


    <div class="mb-3">
      <button type="submit"
              [disabled]="isSubmitted"
              class="btn btn-success">Login</button>
    </div>

    <span *ngIf="error" class="text-danger">{{ error.error }}</span>
  </form>
</div>
