$link-color: #767676;
$link-hover-color: #ed145b;


//size
$size: 1rem;
$size-10: $size / 1.6;
$size-20: $size * 2;
$size-30: $size * 3;


//heights
$header-height: $size-10 * 6;
$footer-height: $size-10 * 15;

// colors
$header-color: #f8f9fa;
